#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background: no-repeat;
  background-size: cover;
}


.flex{
  display: flex;
  justify-content: flex-end;

}

.flex2{
  padding-top: 350px;
  display: flex;
  justify-content: center

}