#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  
}


.flex{
  display: flex;
  justify-content: flex-end;

}

#quote{
  position: absolute;
  bottom: 0;
  color: white;
  left: 15%;
  right: 25%
}

.todo{
  position:absolute;
  bottom:0;
  left:80%;
}

.totalCount{
  color:white;
}